@media screen and (max-width: 1024px) {}


@media (max-width: 992px) {}


@media (max-width: 768px) {
	.navbar-top{
		display: none;
	}
	.sidenav{
		display: none;
	}

	.adds-box{
		margin: 0;
	}

	.client{
		margin-top: 5%;
	}
}


/*@media (min-width: 480px) {}*/


@media screen and (max-width: 464px) {
	.left-column{
		display: none;
	}

	.right-column {
   	 	margin-left: 0;
	}

	.control-bar{
		width: 100%;
	}

	.control-bar ul li a{
		display: inline;
	}

	.contact h5{
		margin-left: -33%;
	}

	.contact ul li{
		margin: 5px -25%;
		text-align: justify;
	}

	.address{
		width: 110%;
    	margin-left: -33%;
	}
}


@media (max-width: 360px) {}
